<style>
  .fakeimg {
      height: 200px;
      background: #aaa;
  }

   .menu a:hover {
               background-color: gray;
                color: black;
    }


    .menu a { 

            float: left; 
            color: white; 
            text-align: center; 
            padding: 5px 5px; 
            text-decoration: none; 
            font-size: 20px; 
        }

       
  </style>